matplotlib==3.8.3
numpy==1.24.3
opencv-python==4.8.0.76
pandas==2.2.1
Pillow==10.0.1
pip==24.0
pycoral==2.0.0
setuptools==49.2.1
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
tflite-runtime==2.5.0.post1
thop==0.1.1.post2209072238
torch==2.0.1
torchvision==0.15.2
ultralytics==8.1.34
virtualenv==20.25.3

